extends ../layout

block header
  unless (route() == 'welcome')
    include ../partials/header


block stylesheets
  link(rel="stylesheet", href="/fonts/font-awesome.min.css")
  link(rel="stylesheet", href="/account/styles/style.css")

block javascripts
  script(src="/account/scripts/account.js")
  block custom_js
