extends account

block content

  form#loginForm.page-connect.form-horizontal(method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group
      .col-sm-7
        input.form-control(type='email', name='email', id='email', placeholder='Email', autofocus=true)
    .form-group
      .col-sm-7
        input.form-control(type='password', name='password', id='password', placeholder='Password')
    .form-group
      .col-sm-offset-3.col-sm-7
        button#submit.col-sm-3.btn.btn-info.btn-block.disabled(type='submit')
          | Log In
        a.btn.btn-link.pull-left(href='#{url("forgot")}') Forgot your password?
        a.btn.btn-link.pull-right(href='#{url("signup")}') Register

    .form-group
      .col-sm-offset-3.col-sm-7
        a.btn.btn-block.btn-facebook.btn-social(href='/auth/facebook')
          i.fa.fa-facebook
          | Sign in with Facebook
        a.btn.btn-block.btn-google.btn-social(href='/auth/google')
          i.fa.fa-google
          | Sign in with Google

block custom_js
  script.
    ready(function(){
      app.loginPage && app.loginPage.init();
    })
