extends account

block content

  form.page-connect.form-horizontal(method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group
      .col-sm-7
        input.form-control(type='email', name='email', id='email', placeholder='Email', autofocus)
    .form-group
      .col-sm-7
        input.form-control(type='password', name='password', id='password', placeholder='Password')
    .form-group
      .col-sm-7
        input.form-control(type='password', name='confirmPassword', id='confirmPassword', placeholder='Confirm Password')
    .form-group
      .col-sm-offset-3.col-sm-7
        button.btn.btn-block.btn-success(type='submit')
          | Sign Up
