#header
  .navbar.navbar-default.navbar-fixed-top
    .container
      ul.nav.navbar-mobile
        li.nav-item.navbar-back
          a(href='javascript:history.back()')
            i.fa.fa-chevron-left
            | Back

        li.nav-item.navbar-title
          | #{title}
