//
   Created by eliorb on 10/12/2015.
extends layout

block stylesheets
  link(rel="stylesheet", ios-href="/dist/app.ios.css")
  link(rel="stylesheet", md-href="/dist/app.md.css")

block content
  ion-app

block javascripts
  script(src="/cordova.js")
  script(src="/dist/vendor.js")
  script(src="/dist/app.js")
