//
   Created by eliorb on 10/12/2015.
extends layout

block content


block javascripts
  //script(src="dist/vendor.js")
  script(src="/dist/angular2.js")
  script(src="/dist/common.js")
  script(src="/dist/app.js")
