doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no')
    meta(name='csrf-token', content=_csrf)
    meta(format-detection='telephone=no')
    meta(msapplication-tap-highlight='no')
    title #{title}

    block stylesheets
  body

    block header

    main.container
      include partials/flash
      #content
        block content

    block footer

    block javascripts
