extends landing

block main
  .intro-header
    .container
      .row
        .col-lg-12
          .intro-message
            h1 Muchacho Mosquito
            h3 App in construction
            hr.intro-divider

  a(name='services')
  .content-section-a
    .container
      .row
        .col-lg-5.col-sm-6
          hr.section-heading-spacer
          .clearfix
          h2.section-heading
            | Death to the Stock Photo:
            br
            | Special Thanks
          p.lead
            | A special thanks to
            a(target='_blank', href='http://join.deathtothestockphoto.com/') Death to the Stock Photo
            |  for providing the photographs that you see in this template. Visit their website to become a member.
        .col-lg-5.col-lg-offset-2.col-sm-6
          img.img-responsive(src='images/ipad.png', alt='')
    // /.container
  // /.content-section-a
  .content-section-b
    .container
      .row
        .col-lg-5.col-lg-offset-1.col-sm-push-6.col-sm-6
          hr.section-heading-spacer
          .clearfix
          h2.section-heading
            | 3D Device Mockups
            br
            | by PSDCovers
          p.lead
            | Turn your 2D designs into high quality, 3D product shots in seconds using free Photoshop actions by
            a(target='_blank', href='http://www.psdcovers.com/') PSDCovers
            | ! Visit their website to download some of their awesome, free photoshop actions!
        .col-lg-5.col-sm-pull-6.col-sm-6
          img.img-responsive(src='images/dog.png', alt='')
    // /.container
  // /.content-section-b
  .content-section-a
    .container
      .row
        .col-lg-5.col-sm-6
          hr.section-heading-spacer
          .clearfix
          h2.section-heading
            | Google Web Fonts and
            br
            | Font Awesome Icons
          p.lead
            | This template features the 'Lato' font, part of the
            a(target='_blank', href='http://www.google.com/fonts') Google Web Font library
            | , as well as
            a(target='_blank', href='http://fontawesome.io') icons from Font Awesome
            | .
        .col-lg-5.col-lg-offset-2.col-sm-6
          img.img-responsive(src='images/phones.png', alt='')
    // /.container
  // /.content-section-a
  a(name='contact')
  .banner
    .container
      .row
        .col-lg-6
          h2 Come back soon!

    // /.container
  // /.banner
  // Footer
  footer
    .container
      .row
        .col-lg-12
          ul.list-inline
            li
              a(href='#') Home
            li.footer-menu-divider ⋅
            li
              a(href='#about') About
            li.footer-menu-divider ⋅
            li
              a(href='#services') Services
            li.footer-menu-divider ⋅
            li
              a(href='#contact') Contact
          p.copyright.text-muted.small Copyright © Your Company 2014. All Rights Reserved
