extends ../layout


block stylesheets
  link(rel="stylesheet", href="/fonts/font-awesome.min.css")
  link(rel="stylesheet", href="/landing/styles/style.css")

block javascripts
  script(src="/landing/scripts/landing.js")


  block custom_js
